div.container {

}
div.activeUsers {
    grid-area: 'active_users';
    
}

aside.gameboard {
    grid-area: 'board';
}

main.main {
    display: grid;
    padding: 1rem;
    grid-template-areas: 
    'active_users active_users board board board';
}