nav.nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: slateblue;
    color: #fff;

    div.sideNavigation {
        a {
            padding: 0 .5rem;
        }
    }
}