nav.nav {
    
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;   
    div {
        a {
            padding: 0 0.5rem;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

main.main {
    display: flex;
    padding: 5rem 8rem;
    color: #555;
    div.sign-up {
        padding: 1rem;
        input[type=text],input[type=email],input[type=password] {
            width: 100%;
            border-radius: 5px;
            margin-bottom: 1rem;
            background: #eee;
        }

        button {
            padding: 1rem;
            width: 100%;
            background: slateblue;
            color: #fff;
        }
    }
}
